div(class="row")
	div(class="col-sm-8 blog-main")
		if posts.length = 1
			each post in posts
				div(class="blog-post")
						h2(class="blog-post-title") 
							a( href="blogpage?id="+post._id) #{post.title}
						p(class="blog-post-meta") #{post.date} 
						hr
						p #{post.text}
