html
	head
		title SORD NODE Blog
		link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Orbitron:400,500,700' type='text/css')
		link(rel="stylesheet" type='text/css' href="./index.css")
	body
		div(class="container")
			div(class="header")
				include ./header
			div(class="sidebar")
				include ./sidebar
			div(class="main")
				include ./main