include ./layout.jade
div(class="header")
	include ./header
div(class="container")
	div(class="sidebar")
		include ./sidebar
	div(class="post")
		include ./blogpage
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")


			

      

     

            
            
